@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
:root{
	--navbar-color:#ffffff;
	--body:#e0e9f8;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	background-color: var(--body);
	width: 100%;
	height: 100vh;
	display: flex;
	font-family: 'Lato', sans-serif;
}

.side-nav{
	background-color: var(--navbar-color);
	width: 110px;
	box-shadow: 10px 10px 10px rgb(185, 185, 184);
	overflow: hidden;
	transition: .3s ease-in-out;
}
.side-nav:hover{
	width: 300px;
}
.pic{
	display: flex;
	margin:20px 0 0 33px;
}
.pic img{
	width: 70px;
	border: 4px solid #76777a;
	border-radius: 50%;
}
.pic h1{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 25px;
}
.content{
	margin:50px 0 0  60px;
}

.content .social-icon{
	display: flex;
	justify-content: start;
	align-items: center;
	margin-top: 30px;
}
.content .social-icon h2{
	margin-left: 50px;
	font-weight: 710;
}
.content .social-icon i{
	font-size: 25px;
	color: #76777a;
}

@media (max-width:380px) {
	.content{
		margin:50px 0 0  40px;
	}
	.pic img{
		width: 70px;
		border: 4px solid #76777a;
		border-radius: 50%;
		margin-left: -20px;
	}
}